/* General settings for Notion */
.notion {
  --notion-max-width: 900px; /* Increasing the max width */
  --notion-header-height: 64px; /* Taller header */
}

/* No padding for the frame */
.notion-frame {
  padding: 0;
}

/* More detailed padding and line-height for notion page */
.notion-page {
  padding-bottom: calc(max(5vh, 48px)) !important; /* Increased padding */
  line-height: 1.75; /* Increased line height */
}

/* Larger text for a more detailed look */
.notion-text {
  font-size: 1.2em;
  padding: 0.5em 2px;
}

/* Centered captions for assets */
.notion-asset-caption {
  text-align: center;
}

/* Responsiveness */
@media only screen and (max-width: 920px) {
  .notion-page {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Hidden search button for small devices */
@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

/* Quotes styling */
.notion-quote {
  padding: 0.5em 1em;
  line-height: 1.5;
  font-style: italic;
  font-size: 1.5em; /* Larger font size */
  border-left: 4px solid #67bdfc;
}

/* Headers styling */
.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 1em; /* Increased margin */
}

/* Custom link hover effects */
.notion-link:focus,
.notion-link:hover {
  background-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  transition-duration: 500ms; /* Slower transition */
}

/* Refined colors for background elements */
.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background {
  /* Use the gradients of your choice here */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5c4ff 10.5%,
    #e7a8fc 85.29%,
    var(--bg-color)
  );
}

/* Add more styles as you see fit */
