.notion-code {
  background-color: #0a0a0a;  /* Dark black */
  border: 1px solid #333;  /* Lighter black */
  border-radius: 0.5rem;
  padding: 1.5em !important;
  font-size: 0.875em;
}

.dark-mode .notion-code {
  background-color: #0a0a0a;  /* Dark black */
  border-color: #333;  /* Lighter black */
  color: #f5ebd1;  /* Golden */
}

.notion code {
  color: #f5ebd1;  /* Golden */
  font-family: 'Fira Code', monospace;
}

.dark-mode .notion code {
  color: #f5ebd1;  /* Golden */
}

.dark-mode .notion .notion-inline-code {
  background: #0a0a0a;  /* Dark black */
  color: #0077cc;  /* Blue */
  padding: 0.2em 0.5em !important;
  border-radius: 0.25rem;
}

.notion .notion-inline-code {
  color: #0077cc;  /* Blue */
  background: #0a0a0a;  /* Dark black */
  padding: 0.2em 0.5em !important;
  border-radius: 0.25rem;
}

/* Additional code highlighting and readability */

.token.comment {
  color: #888888; /* Gray for comments */
  font-style: italic;
}

/* General Layout & Typography */
.notion-page-title {
  font-size: 2em;
  color: #f5ebd1;  /* Golden */
  font-weight: 600;
}

.dark-mode .notion-page-title {
  color: #f5ebd1;  /* Golden */
}

/* Custom Scrollbar for code blocks */
pre::-webkit-scrollbar {
  width: 8px;
}

pre::-webkit-scrollbar-thumb {
  background: #0077cc;  /* Blue */
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: thin;
}
